admin/
resources/
temp/
published_content/
private_content/
.commitmessage
.vscode/

*.tmp
*.bak
*.swp


*.pdf
.lastcommit
**/node_modules/
lastcommit-lock.json
.bash_history
.viminfo
.minttyrc
.ssh/
*.env
package-lock.json
package.json
