.infiniteScroll {
  margin-top: 6rem;
}

.postList a {
  text-decoration: none;
}

.end-message {
  width: fit-content;
  margin: 0 auto;
}

.end-message p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: white;
  font-size: 1.25rem;
}