.tag {
  background-color: #2d3a44;
  color: #6e7f80;
  width: fit-content;
  padding: 0.25rem;
  border-radius: 5px;
}

.tag:hover {
  cursor: pointer;
  color: #2d3a44;
  background-color: #6e7f80;
}

.close {
  margin-left: 0.5rem;
  margin-top: 0.15rem;
}

.close:hover {
  color: white;
}