.gameList {
  color: #6e7f80;
  width:100%;
  padding-left:1em;
  padding-right:1em;
  margin: 4em auto;
  display:list-item;
  list-style: none;
  
}

section {
  color: #2d3a44;
  background-color: #708090;
  display:flex;
  padding: 10px;
  border-radius: 10px;
}

section Button{
  right: 0;
  position: fixed;
  padding-right: 5rem;
}

