.gameList {
  color: #6e7f80;
  width:100%;
  padding-left:1em;
  padding-right:1em;
}

.card {
  color: #2d3a44;
  background-color: #708090;
  display:flex;
  padding-left: 1em;
  padding: 5px;
  
}
