.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  padding: 1rem 3rem;
  transition: background-color 0.5s linear;
}

.header.showBg {
  background-color: #536878e1;
  transition: background-color 0.5s linear;
}