.dark{
  background-color: #2D3A44;
  margin: 0;
  font-size: 100%;
}

.light{
  background-color: #bbbbbb;
  margin: 0;
  font-size: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  padding: 1rem;
  transition: background-color 0.2s linear;
  z-index: 150;
  height: 64px;
}

.buttons {
  margin-top: 15px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.switch{
  height: 20px;
}

.left-section {
  margin-left: 0;
}

.right-section {
  margin-left: auto;
  display: flex;
  justify-content:space-between;
  height: 50%;
  width: 20%;
}

.header.showBg.dark {
  background-color: #536878e1;
  transition: background-color 0.2s linear;
  box-shadow: 0 5px 5px rgba(15, 15, 15, 0.13);
}

.header.showBg.light {
  background-color: #bdc9d2;
  transition: background-color 0.2s linear;
  box-shadow: 0 5px 5px rgba(15, 15, 15, 0.13);
}

.header button {
  transition: background-color 0.2s linear;
}

.header.showBg.dark button {
  background-color: #2d3a44;
  color: #6e7f80;
  transition: background-color 0.2s linear;
}

.header.showBg.light button {
  background-color: #869daf;
  color: #2d3a44;
  transition: background-color 0.2s linear;
}

.header.showBg.dark button:hover {
  background-color: #6e7f80;
  color: #2d3a44;
}

.header.showBg.light button:hover {
  background-color: #657575;
  color: #2d3a44;
}

.header.showBg.dark select{
  border: 2px solid #2d3a44;
  background-color: #2d3a44;
  color: #6e7f80;
  transition: background-color 0.2s linear;
}

.header.showBg.light select{
  border: 2px solid #869daf;
  background-color: #869daf;
  color: #2d3a44;
  transition: background-color 0.2s linear;
}

.header.dark select{
  background-color: #ffffff00;
  color: #2d3a44;
}

.header.light select{
  background-color: #FFF;
  color: #2d3a44;
} 

.header.dark option{
  background-color: #6e7f80;
  color: #2d3a44;
} 

.header.light option {
  background-color: #6e7f80;
  color: #2d3a44;
}

.header.showBg select{
  border: none;
  background-color: #ffffff00;
  color: #6e7f80;
} 

.header.showBg .lang-selector{
  color: #2d3a44;
} 

.lang-btn:hover select{
  color: #2d3a44;
} 

.header.showBg option{
  background-color: #ffffff00;
  color: #6e7f80;
}


