.menu {
  padding: 5;
  width: 5rem;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.options {
  background-color: #536878e1;
  width: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  padding: 1rem 0 0.5rem 0;
  border-bottom-right-radius: 15px;
  animation: hide 0.3s forwards ease-in-out;
}

.options.visible {
  animation: show 0.3s ease-in-out;
}

.options button {
  border-radius: 10px;
  width: 7rem;
  margin: 0rem 1rem 0.5rem 2rem;
}

@keyframes show {
  0% {
    transform: translate(-100%)
  }

  100% {
    transform: translate(0)
  }
}

@keyframes hide {
  0% {
    transform: translate(0)
  }

  100% {
    transform: translate(-100%)
  }
}