.user-profile {
  margin: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-profile img {
  width: 15em;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.user-profile .settings {
  height: 2rem;
  margin-top: 2rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  color: #ffffff;
  margin-top: 2rem;
}

.game-recommendations {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-content: flex-start;
}

.game-recommendations hr {
  width: 100%;
}

.game-recommendations h2 {
  color: #6E7F80;
}