.user-profile {
  margin: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-profile img {
  width: 15em;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.user-profile .settings {
  height: 2rem;
  margin-top: 2rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  color: #ffffff;
  margin-top: 2rem;
}

.played-games {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-content: flex-start;
}

.played-games hr {
  width: 100%;
}

.played-games h2 {
  color: #6E7F80;
}

.played-games ul, .tags ul {
  list-style: none;
  text-decoration: none;
  width: fit-content;
}

.played-games a {
  text-decoration: none;
  color: #6E7F80;
}

.played-games a:hover {
  text-decoration: underline;
}

.played-games li {
  width: fit-content;
}

.tags {
  background-color: #6E7F80;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  width: fit-content;
}

.tags div {
  margin-right: 0.5rem;
}