@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.gameDetails {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  color: white;
}

.gameDetails * {
  animation: fadein 1.5s;
}


.gameDetails h1 {
  margin-top: 2rem;
  color: white;
}

.gameDetails img {
  width: 25em;
  border-radius: 10px;
  margin-top: 1rem;
}

.buttons * {
  margin: 2rem 1rem;
}

.buttons span {
  display: inline-flex;
  align-items: center;
}

.gameDetails p {
  margin: 0;
}

.gameDetails h1,
.desc {
  margin-left: 0;
}

.reviews h2 {
  margin-top: 2rem;
  padding-left: 3rem;
  color: white;
  animation: fadein 1.5s;
}

.spinner {
  position: absolute;
}