@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.gameDetails {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  color: white;
  padding-bottom: 0;
}

.gameDetails * {
  animation: fadein 1.5s;
}


.gameDetails h1 {
  margin-top: 2rem;
  color: white;
}

.info img {
  width: 35em;
  align-self: flex-start;
}

.buttons * {
  margin: 1rem 1rem 2rem 1rem;
}

.buttons span {
  display: inline-flex;
  align-items: center;
}

.gameDetails p {
  margin: 0.5rem 0;
}

.gameDetails h1,
.desc {
  margin-left: 0;
}

.reviews h2 {
  margin-top: 2rem;
  padding-left: 3rem;
  color: white;
  animation: fadein 1.5s;
}

.carousel {
  width: 40rem;
  margin-right: 4rem;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.screenshots {
  display: flex;
  width: fit-content;
}

.screenshot {
  background-color: black;
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  background-color: #0d223186;
}

.info img {
  align-self: flex-start;
}

.info ul {
  margin: 1rem;
}

.info li {
  list-style: none;
}

.spinner {
  position: absolute;
}