.gamepost{
  list-style-type:none;
  display:flex;
  background-color:#6E7F80;
  color:#2D3A44;
  margin:15px;
  width: 100%;
}

.gamepost:hover {
  cursor: pointer;
  background-color:#899fa0;
}

img{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:15em;
}

h1, div, p{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content:center;
  width:100%;
  margin:5px;
}

span{
  margin:5px;
}
