.gamepost {
  position: relative;
  list-style-type: none;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  text-shadow: 2px 2px 3px #0000006f;
  margin: 20px auto;
  width: 90%;
  border-radius: 15px;
  overflow: hidden;
  transition: background-color 0.2s ease;
}

.details {
  position: relative;
  padding: 1rem 1rem 1rem 0;
  z-index: 1;
}

.background {
  filter: blur(45px) brightness(60%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  height: 100%;
  border-radius: 15px;
}

.gamepost:hover {
  cursor: pointer;
  background-color: #899fa0;
}

.gamepost img {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 12rem;
  margin-left: 1.5rem;
  border-radius: 10px;
}

.details h1,
div,
.details p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
}

h1,
p,
span {
  margin-left: 1rem;
}

p {
  margin-top: 1rem;
  padding-right: 1rem;
}

.gamepost h1 {
  width: 100%;
  padding-right: 2em;
}

.thumbs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 2rem;
  flex-wrap: nowrap;
}

.rating {
  flex-direction: column;
  width: auto;
}

.dev-name {
  padding-top: 1em;
  padding-left: 2em;
}

.stars {
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 55em) {
  .gamepost {
    flex-direction: column;
  }

  .details p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: small;
    margin-left: 2rem;
  }

  .gamepost img {
    margin-left: 0;
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 30em) {
  .gamepost {
    margin: 0 0 1rem 0;
    width: 100%;
    border-radius: 0;
  }

  .gamepost h1 {
    margin-left: 1.4rem;
    font-size: 1rem;
  }

  .dev-name {
    font-size: 0.7rem;
  }

  .thumbs {
    margin-right: 0;
  }

  .gamepost img {
    border-radius: 0;
    margin-top: 0;
    width: 100%;
  }

  .details p {
    margin-left: 1.3rem;
  }
}