.gamepost {
  list-style-type: none;
  display: flex;
  background-color: #6E7F80;
  color: #2D3A44;
  margin: 20px auto;
  width: 90%;
  border-radius: 15px;
}

.gamepost:hover {
  cursor: pointer;
  background-color: #899fa0;
}

.gamepost img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 20rem;
  height: 10rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

h1,
div,
p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
}

h1,
p,
span {
  margin-left: 2rem;
}

p {
  margin-top: 1rem;
  padding-right: 1rem;
}
