/* .button {
  border: none;
  padding: 8px;
  text-align: center;
  border-radius: 40em;
  margin-right: 10px;
} */

.button.dark {
  background-color: #6E7F80;
  color: #2D3A44;
  border: none;
  padding: 8px;
  text-align: center;
  border-radius: 40em;
  margin-right: 10px;
}

.button.light {
  background-color: #869daf;
  color: #2d3a44;
  border: none;
  padding: 8px;
  text-align: center;
  border-radius: 40em;
  margin-right: 10px;
}

.button:hover,
.button:active {
  background: #536878;
  border-color: #536878;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #E7F6F2;
  border-color: #E7F6F2;
  color: #536878;
}
