.loginForm{
  background-color: #36454f;
  text-align: center;
  width: 40%;
  padding: 10px;
  color:#6E7F80;
  border-radius: 20px;
}

input{
  border-radius: 20px;
  padding: 10px;
  width:80%;
  background-color: #6E7F80;
  color: #36454f;
}